.event-widget {
	transform-style: preserve-3d;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smooth: always;
	text-align: center;
}

.event-widget h1 {
	color: #333;
    font-weight: 400;
    font-size: 36px;
    margin: 0;
}

.event-widget p {
	text-align: center;
}

.event-widget p.location {
	margin: 0 auto;
    margin-bottom: 5px;
    font-size: 24px;
}

.event-widget p.time {
	margin: 0 auto;
    font-size: 20px;
}

.event-widget a {
	color: #f60;
	text-decoration: none;
}

.event-widget a:hover {
	color: #f90;
	text-decoration: none;
}