.user-subpage {
	padding-top: 50px;
}

.user-subpage h2 {
	font-weight: 400;
	font-size: 32px;
	margin: 0;
	margin-bottom: 25px;
	color: #f30;	
}

.user-subpage h3 {
	color: #999;
	font-weight: 100;
	font-size: 22px;
}

.user-subpage p.update {
	margin: 0;
	margin-top: 25px;
}

.user-subpage p.update a {
	color: #f30;
	cursor: pointer;
	padding: 5px;
	border: 1px solid #f30;
	transition: all 0.4s ease;
}

.user-subpage p.update a.loading {
	color: #ccc;
	border-color: #ccc;
	transition: all 0.4s ease;
	text-decoration: blink;
}

.user-subpage p.tutorial a {
	color: #f30;
	cursor: pointer;
}

.user-subpage textarea.edit-content {
	min-height: 400px;
	padding: 12px;
	font-family: "Open Sans", sans-serif;
	text-align: left;
	border: 1px solid #eee;
	width: 376px;
	overflow-x: hidden;
}

.user-subpage .edit-preview {
	min-height: 400px;
	padding: 12px;
	font-family: "Open Sans", sans-serif;
	text-align: left;
	border: 1px solid #eee;
	overflow-x: hidden;
}

.user-subpage .edit-preview li,
.user-subpage .content li {
	text-align: left;
}

.user-subpage .edit-preview img,
.user-subpage .content img {
	max-width: 100%;
}

.user-subpage .edit-preview hr,
.user-subpage .content hr {
	height: 1px;
	background-color: #eee;
	border: 0;
}

.user-subpage .edit-preview blockquote,
.user-subpage .content blockquote {
	padding: 50px;
	background-color: #f9f9f9;
	margin-left: -50px;
	margin-right: -50px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.user-subpage .edit-preview h1,
.user-subpage .content h1 {
	font-weight: 300;
	font-size: 24px;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #f30;
}

.user-subpage .edit-preview h2,
.user-subpage .content h2 {
	font-weight: 300;
	font-size: 22px;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #f30;
}

.user-subpage .edit-preview h3,
.user-subpage .content h3 {
	font-weight: 300;
	font-size: 20px;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #f30;
}

.user-subpage .edit-preview h4,
.user-subpage .content h4 {
	font-weight: 300;
	font-size: 18px;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #f30;
}

.user-subpage .edit-preview h5,
.user-subpage .content h5 {
	font-weight: 300;
	font-size: 16px;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #f30;
}

.user-subpage .edit-preview h6,
.user-subpage .content h6 {
	font-weight: 300;
	font-size: 14px;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #f30;
}

.user-subpage .edit-preview a,
.user-subpage .content a {
	text-decoration: none;
	color: #f30;
	font-size: 15px;
}

.user-subpage .edit-preview strong,
.user-subpage .content strong {
	font-weight: 400;
}

.user-subpage ul li {
	text-align: left;
}

.user-subpage .table {
	display: table;
	width: 100%;
}

.user-subpage .row {
	display: table-row;
}

.user-subpage .col {
	display: table-cell;
}

.user-subpage .editor {
	width: 50%;
}



.user-subpage .wmd-panel
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px;
}

.user-subpage .wmd-button-bar 
{
	width: 100%;
	background-color: Silver; 
}

.user-subpage .wmd-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.user-subpage .wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.user-subpage .wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.user-subpage .wmd-button > span {
    background-image: url(/images/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.user-subpage .wmd-spacer1
{
    left: 50px;
}
.user-subpage .wmd-spacer2
{
    left: 175px;
}
.user-subpage .wmd-spacer3
{
    left: 300px;
}




.wmd-prompt-background
{
	background-color: #333;
}

.wmd-prompt-dialog
{
	border: 1px solid #ccc;
	background-color: #fff;
}

.wmd-prompt-dialog > div {
	padding: 25px !important;
}

.wmd-prompt-dialog > div > p > b {
	font-size: 24px;
	color: #f30;
	font-weight: 100;
}

.wmd-prompt-dialog > div > p a {
	color: #666;
	text-decoration: none;
}

.wmd-prompt-dialog > form {
	padding-left: 25px !important;
	padding-bottom: 25px !important;
	padding-right: 25px !important;
	padding-top: 0 !important;
	width: 350px !important;
}

.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #ccc;
	font-family: "Open Sans", sans-serif;
	padding: 5px;
	color: #333;
	margin-bottom: 20px;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #f30;
	background-color: #fff;
	color: #f30;
	padding: 5px;
	font-family: "Open Sans", sans-serif;
}