.user-widget.user-photo {
	width: 20%;
	transition: all 0.4s ease;
	cursor: pointer;
	float: left;
}

.user-widget.user-photo {
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	opacity: 0.1;
}

.user-widget.user-photo:hover {
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	opacity: 0.4;
	filter: none;
}

.user-widget.user-photo.highlighted {
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	opacity: 0.7;
}

.user-widget.user-photo.highlighted:hover {
	opacity: 1;
	filter: none;
	-webkit-filter: none;
}
