<div id="page">
</div>
<!-- The linker searches for this tag and adds js.	If there's no linker, we point to sails.io.js-->
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.min.js"></script>
<script src="/js/dependencies/jquery.validate.min.js"></script>
<script src="/js/dependencies/icheck.min.js"></script>
<script src="/js/dependencies/react.js"></script>
<script src="/js/dependencies/Markdown.Converter.js"></script>
<script src="/js/dependencies/Markdown.Editor.js"></script>
<script src="/js/dependencies/Markdown.Sanitizer.js"></script>
<script src="/js/dependencies/additional-methods.min.js"></script>
<script src="/js/dependencies/freewall.js"></script>
<script src="/js/dependencies/jsxtransformer.js"></script>
<script src="/js/react/widgets/entities/event-widget.js"></script>
<script src="/js/react/widgets/entities/journal-widget.js"></script>
<script src="/js/react/widgets/entities/project-widget.js"></script>
<script src="/js/react/widgets/entities/user-subpage-edit.js"></script>
<script src="/js/react/widgets/entities/user-subpage-show.js"></script>
<script src="/js/react/widgets/entities/user-widget.js"></script>
<script src="/js/react/widgets/parts/generic-footer-widget.js"></script>
<script src="/js/react/widgets/parts/generic-header-widget.js"></script>
<script src="/js/react/pages/about-page.js"></script>
<script src="/js/react/pages/event-page.js"></script>
<script src="/js/react/pages/events-page.js"></script>
<script src="/js/react/pages/journal-page.js"></script>
<script src="/js/react/pages/journals-page.js"></script>
<script src="/js/react/pages/jumbotron-page.js"></script>
<script src="/js/react/pages/project-page.js"></script>
<script src="/js/react/pages/projects-page.js"></script>
<script src="/js/react/pages/user-page-edit.js"></script>
<script src="/js/react/pages/user-page-show.js"></script>
<script src="/js/react/pages/users-page.js"></script>
<script src="/js/react/landing-page.js"></script>
<script src="/js/LLC2015/index.js"></script>
<script src="/js/user-new-validate.js"></script>
<!--SCRIPTS END-->