<title>Departamentul de Românistică, Jurnalism - Științele Comunicării și Literatură Comparată</title>
<meta charset="utf-8">
<meta name="description" content="Universitatea Alexandru Ioan Cuza din Iași, Facultatea de Litere, Departamentul de Românistică, Jurnalism - Științele Comunicării și Literatură Comparată">
<meta name="robots" content="all, index, follow">
<!-- Viewport mobile tag for sensible mobile support-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<!--STYLES-->
<link rel="stylesheet" href="/styles/fonts/helper.css">
<link rel="stylesheet" href="/styles/fonts/pe-icon-7-stroke.css">
<link rel="stylesheet" href="/styles/font-awesome/font-awesome.min.css">
<link rel="stylesheet" href="/styles/pages/about-page.css">
<link rel="stylesheet" href="/styles/pages/event-page.css">
<link rel="stylesheet" href="/styles/pages/events-page.css">
<link rel="stylesheet" href="/styles/pages/journal-page.css">
<link rel="stylesheet" href="/styles/pages/journals-page.css">
<link rel="stylesheet" href="/styles/pages/jumbotron-page.css">
<link rel="stylesheet" href="/styles/pages/project-page.css">
<link rel="stylesheet" href="/styles/pages/projects-page.css">
<link rel="stylesheet" href="/styles/pages/user-page.css">
<link rel="stylesheet" href="/styles/pages/users-page.css">
<link rel="stylesheet" href="/styles/widgets/entities/event-widget.css">
<link rel="stylesheet" href="/styles/widgets/entities/journal-widget.css">
<link rel="stylesheet" href="/styles/widgets/entities/project-widget.css">
<link rel="stylesheet" href="/styles/widgets/entities/user-subpage.css">
<link rel="stylesheet" href="/styles/widgets/entities/user-widget.css">
<link rel="stylesheet" href="/styles/widgets/parts/generic-footer-widget.css">
<link rel="stylesheet" href="/styles/widgets/parts/generic-header-widget.css">
<link rel="stylesheet" href="/styles/LLC2015/helper.css">
<link rel="stylesheet" href="/styles/LLC2015/icons.css">
<link rel="stylesheet" href="/styles/LLC2015/index.css">
<link rel="stylesheet" href="/styles/all.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/landing-page.css">
<!--STYLES END-->