<script type="text/jsx">
	React.render(React.createFactory(UserPageEdit)({
		auth: <%- JSON.stringify(auth) %>,
		user: <%- JSON.stringify(user) %>,
		departments: <%- JSON.stringify(departments) %>,
		userLevels: <%- JSON.stringify(userLevels) %>,
	 }), document.getElementById('page'));
</script>