<script type="text/jsx">
	React.render(React.createFactory(UsersPage)({
		users: <%- JSON.stringify(users) %>,
		departments: <%- JSON.stringify(departments) %>,
		userLevels: <%- JSON.stringify(userLevels) %>,
	 }), document.getElementById('page'));
</script>