<div class="container">
	<h1>Create an account</h1>
	
	<% if (typeof flash != 'undefined' && flash && flash.err) { %>
		<div class="alert alert-error">
			<%= flash.err.summary %>
		</div>
	<% } %>
	
	<form action="/user/create" method="POST" class="form-signin">
		<p>
			<input id="name" type="text" class="form-control" placeholder="your name" name="name" />
		</p>
		<p>
			<input id="title" type="text" class="form-control" placeholder="your title" name="title" />
		</p>
		<p>
			<input id="email" type="email" class="form-control" placeholder="your email" name="email" />
		</p>
		<p>
			<input id="password" type="password" minLength="6" class="form-control" placeholder="your password (once)" name="password" />
		</p>
		<p>
			<input id="confirmation" type="password" minLength="6" class="form-control" placeholder="your password (again)" name="confirmation" />
		</p>
		<p>
			<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create account" />
		</p>
		<p>
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		</p>
	</form>
</div>