<script type="text/jsx">
	React.render(React.createFactory(UserPageShow)({
		isEmbedded: false,
		auth: <%- JSON.stringify(auth) %>,
		user: <%- JSON.stringify(user) %>,
	 }), document.getElementById('page'));
</script>