<script type="text/jsx">
	React.render(React.createFactory(LandingPage)({
		auth: <%- JSON.stringify(auth) %>,
		users: <%- JSON.stringify(users) %>,
		events: <%- JSON.stringify(events) %>,
		projects: <%- JSON.stringify(projects) %>,
		journals: <%- JSON.stringify(journals) %>,
		userLevels: <%- JSON.stringify(userLevels) %>,
		departments: <%- JSON.stringify(departments) %>,
	 }), document.getElementById('page'));
</script>