body, html {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
  font-weight: 300;
	letter-spacing: 0.1em;
  font-size: 13px;
  overflow-x: hidden;
	background-color: #eee;
}

.react-animate-leave {
  opacity: 1;
}

.react-animate-leave.react-animate-leave-active {
  opacity: 0.01;
  transition: all .4s ease-in;
}

.react-animate-appear {
  opacity: 0;
  transition: all .4s ease-in;
}

.react-animate-appear.react-animate-appear-active {
  opacity: 1;
}

input[type="radio"] {
	display:none;
}

input[type="radio"] + label span.radio {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 2px;
	vertical-align: middle;
	background: url(/images/radio.png) left top no-repeat;
	cursor: pointer;
}

input[type="radio"]:checked + label span.radio {
	background: url(/images/radio.png) -9px top no-repeat;
}