.generic-header-widget {
	position: absolute;
	right: 0;
	z-index: 1;
}

.generic-header-widget * {
	opacity: 0.8;
    transition: all 0.4s ease;
	line-height: 120%;
}

.generic-header-widget *:hover {
	opacity: 1;	
}

.generic-header-widget form input {
	border: 0;
	margin: 0 5px;
	padding: 5px;
	border: 1px solid transparent;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #666;
	background-color: transparent;
	
	font-family: "Open sans", sans-serif;
	font-weight: 300;	
	font-size: 13px;
}

.generic-header-widget form .btn {
	border: 0;
	margin: 0 5px;
	padding: 5px;
	border: 1px solid transparent;
	border-right: 1px solid #f30;
	border-top: 1px solid #f30;
	color: #f30;
	background-color: transparent;
	
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 13px;
	
	cursor: pointer;
}

.generic-header-widget form .auth {
	border: 0;
	margin: 0 5px;
	padding: 5px;
	border: 1px solid transparent;
	color: #666;
	background-color: transparent;
	text-decoration: none;
	
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 13px;
	
	cursor: pointer;
}
