@media screen and (min-width: 961px) {
	.llc2015 html {
		text-align: center;
	}
}

	body.llc2015 {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		letter-spacing: 0.025em;
		line-height: 175%;
		
		-webkit-font-smoothing: subpixel-antialiased !important;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
		-moz-osx-font-smoothing: grayscale;
		
		margin: 0;
	}

@media screen and (max-width: 960px) {
	body.llc2015 {
		font-size: 13px;
		margin: 5px;
	}
	
}

@media screen and (min-width: 961px) {
	body.llc2015 {
		font-size: 15px;
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}	
}

	.llc2015 .light {
		color: #ccc;
	}

@media screen and (max-width: 960px) {
	.llc2015 .hgroup {
		padding: 5px;
	}
	
}

@media screen and (min-width: 961px) {
	.llc2015 .hgroup {
		text-align: left;
		margin: 0 50px 50px 50px;
	}	
}

@media screen and (max-width: 960px) {
	.llc2015 article {
		padding: 5px;
	}
	
}

@media screen and (min-width: 961px) {
	.llc2015 article {
		text-align: left;
		margin: 0px 50px 50px 100px;
		padding: 0;
		padding-top: 50px;
	}	
}

@media screen and (max-width: 960px) {
	section, aside {
		margin-top: 5px;
	}
	
}

@media screen and (min-width: 961px) {
	section, aside {
		margin: 15px 0;
	}	
}

	.llc2015 hr {
		background-color: transparent;
		background-color: #fff;
	}

@media screen and (max-width: 960px) {
	.llc2015 hr {
		border: 0;
		border-top: 1px solid #eee;
		height: 0px;
		margin: 5px 0;
	}
	
}

@media screen and (min-width: 961px) {
	.llc2015 hr {
		border: 0;
		border-top: 1px solid #eee;
		height: 0;
		margin: 0 50px;
	}	
}

	ul {
		list-style-type: none;
	}

@media screen and (max-width: 960px) {
	ul {
		margin: 0;
		margin-bottom: 10px;
		padding-left: 0;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 ul {
		margin: 0;
		margin-bottom: 25px;
		padding-left: 0;
	}
}

	.llc2015 ol {
	}

@media screen and (max-width: 960px) {
	.llc2015 ol {
		margin: 0;
		margin-bottom: 10px;
		padding-left: 0;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 ol {
		margin: 0;
		margin-bottom: 25px;
		padding-left: 0;
	}
}

	ol li {
		margin-bottom: 5px;
	}

	.container {

	}

@media screen and (max-width: 960px) {
	.llc2015 .container {
		margin: 0;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 .container {
		margin: 0;
		margin-bottom: 25px;
	}
}

	.llc2015 h1 {
		font-family: "Roboto Slab", sans-serif;
		font-weight: 400;
		color: #666;
	}

@media screen and (max-width: 960px) {
	.llc2015 h1 {
		font-size: 400%;
		line-height: 100%;
		margin: 5px auto;
	}
}	
	
@media screen and (min-width: 961px) {
	.llc2015 h1 {
		line-height: 100%;
		text-align: left;
		font-size: 500%;
		margin: 10px 50px;
	}
}

	.llc2015 h2 {
		font-weight: 400;
	}

@media screen and (max-width: 960px) {
	.llc2015 h2 {
		font-size: 150%;
		margin: 5px auto;
	}
}	
	
@media screen and (min-width: 961px) {
	.llc2015 h2 {
		text-align: left;
		font-size: 150%;
		margin: auto 50px;
		margin-top: 25px;
	}
}

	h3 {
		font-weight: 400;
	}

@media screen and (max-width: 960px) {
	h3 {
		font-size: 125%;
		margin: 5px auto;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 h3 {
		text-align: left;
		font-size: 125%;
		margin: auto 50px;
	}
}

	.llc2015 .subtitle {
		font-weight: 400;
	}

@media screen and (max-width: 960px) {
	.llc2015 .subtitle {
		font-size: 110%;
		margin: 5px auto;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 .subtitle {
		padding-top: 50px;
		text-align: left;
		font-size: 110%;
		margin: auto 50px;
		margin-bottom: 25px;
	}
}

	.llc2015 .emblems {
		text-align: right;
	}

@media screen and (max-width: 960px) {
	.llc2015 .emblems {
		margin: 5px auto;
		display: none;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 .emblems {
		margin: auto;
		margin-bottom: 25px;
	}
}

	.llc2015 article .logo {
		position: absolute;
		background-color: #fff;
	}

@media screen and (max-width: 960px) {
	.llc2015 article .logo {
		font-size: 200%;
		margin: 0;
		padding: 0;
		right: 10px;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 article .logo {
		text-align: center;
		font-size: 300%;
		width: 50px;
		margin: 40px 0;
		margin-left: -75px;
		margin-top: -10px;
	}
}

	.llc2015 article h2 {
		font-weight: 400;
		text-transform: none;
		color: #666;
	}

@media screen and (max-width: 960px) {
	.llc2015 article h2 {
		font-size: 200%;
		margin: 0;
		margin-bottom: 25px;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 article h2 {
		font-size: 300%;
		margin: 0;
		margin-bottom: 50px;
	}
}

	.llc2015 article h3 {
		font-weight: 400;
		text-transform: none;
		color: #555;
	}

@media screen and (max-width: 960px) {
	.llc2015 article h3 {
		font-size: 175%;
		margin: 10px 0;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 article h3 {
		font-size: 175%;
		margin: 37.5px 0;
	}
}

	.llc2015 article h4 {
		font-weight: 400;
		text-transform: none;
		color: #444;
	}

@media screen and (max-width: 960px) {
	.llc2015 article h4 {
		font-size: 125%;
		margin: 10px 0;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 article h4 {
		font-size: 125%;
		margin: 10px 0;
	}
}

	.llc2015 article h5 {
		font-weight: 300;
		color: #333;
	}

@media screen and (max-width: 960px) {
	.llc2015 article h5 {
		font-size: 100%;
		margin: 10px 0;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 article h5 {
		font-size: 100%;
		margin: 25px;
	}
}

	.llc2015 p {
		margin: 25px 0;
	}

	.llc2015 a {
		color: #069;
		text-decoration: none;
	}
	
	.llc2015 a:link {
		color: #069;
		text-decoration: none;
	}

	.llc2015 a:hover {
		color: #09c;
		text-decoration: none;
	}

	.llc2015 a:click {
		color: #0cf;
		text-decoration: none;
	}

	.llc2015 a:visited {
		color: #069;
		text-decoration: none;
	}

	.llc2015 strong {
		font-weight: 400;
	}
	
	.llc2015 nav {
		margin: 0;
	}

@media screen and (max-width: 960px) {
	.llc2015 nav {
		border-bottom: 1px solid #eee;
	}
}	
	
@media screen and (min-width: 961px) {
	.llc2015 nav {
		position: fixed;
		width: 200px;
		text-align: right;
		margin-left: -200px;
		border-right: 1px solid #eee;
		padding: 50px 50px 5000px 0;
	}
}

	.llc2015 nav a {
		font-weight: 400;
	}

@media screen and (max-width: 960px) {
	.llc2015 nav a {
		display: inline;
	}
}	
	
@media screen and (min-width: 961px) {
	.llc2015 nav a {
		display: block;
	}
}

	.llc2015 td {
		padding: 10px;
		vertical-align: middle;
		border-top: 1px solid #eee;
	}
	
	.llc2015 tr:hover {
		background-color: #fcfcfc;
	}
	
	.llc2015 table {
		margin: auto -10px;
		border-spacing: 0;
		border-bottom: 1px solid #eee;
		margin-bottom: 25px;
	}
	
	.llc2015 table p {
		margin: 7px auto;
	}
	
	.llc2015 img.sponsor {
		max-height: 50px;
		border: 0;
	}
	
	.llc2015 img.emblem {
		height: 25px;
	}
	
	.llc2015 .map {
	}

@media screen and (max-width: 960px) {
	.llc2015 .map {
		margin: 5px auto;
	}
}

@media screen and (min-width: 961px) {
	.llc2015 .map {
		margin-left: -50px;
		margin-bottom: -100px;
	}
}
