<div class="container">
	<div class="jumbotron">
		<h1>activity overlord</h1>
		<h2>...tracking bla bla</h2>
		<p>
			<a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
		</p>
	</div>
</div>