.events-page {
	transform-style: preserve-3d;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smooth: always;
	text-align: center;
	height: 100%;
	height: 100vh;
	min-height: 100%;
	min-height: 100vh;
}

.events-page.table {
	display: table;
	width: 100%;
}

.events-page .row {
	display: table-row;
}

.events-page .col {
	display: table-cell;
	vertical-align: middle;
}

.events-page .container {
	margin: auto;
	padding: 50px;
	max-width: 900px;
}

.events-page h1 {
	color: #666;
	font-weight: 100;
	font-size: 64px;
}

.events-page h2 {
	color: #444;
	font-weight: 100;
	font-size: 48px;	
}

.events-page h3 {
	color: #222;
	font-weight: 100;
	font-size: 32px;	
}

.events-page p {
	text-align: justify;
}