.journal-page {
	height: 100%;
	min-height: 100%;
	height: 100vh;
	min-height: 100vh;
	transform-style: preserve-3d;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smooth: always;
}

.journal-page h1 {
	margin: 0;
}