.jumbotron-page {
	transform-style: preserve-3d;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smooth: always;
	text-align: center;
	height: 100%;
	height: 100vh;
	min-height: 100%;
	min-height: 100vh;
}

.jumbotron-page.table {
	display: table;
	width: 100%;
}

.jumbotron-page .row {
	display: table-row;
}

.jumbotron-page .col {
	display: table-cell;
	vertical-align: middle;
}

.jumbotron-page .container {
	margin: auto;
	padding: 50px;
}

.jumbotron-page a {
	cursor: pointer;
}

.jumbotron-page a {
	text-decoration: none;
	color: inherit;
}

.jumbotron-page h1 {
	color: #444;
	font-size: 18px;
	font-weight: 400;
	margin: 5px auto;
	width: 950px;
}

.jumbotron-page h2 {
	color: #333;
	font-size: 17px;
	font-weight: 400;
	margin: 4px auto;
	width: 950px;
}

.jumbotron-page h3 {
	color: #222;
	font-size: 16px;
	font-weight: 300;
	margin: 3px auto;
	width: 950px;
}

.jumbotron-page .logo {
	width: 50px;
	height: 50px;
	margin: 100px auto;
	padding: 25px;
	border-radius: 100%;
	border: 1px solid #ddd;
}

.jumbotron-page .logo img {
	width: 50px;
}

.jumbotron-page .nav {
	text-align: center;
	margin-top: 15px;
}

.jumbotron-page .nav a {
	color: #666;
	text-decoration: none;
}

.jumbotron-page .nav .caption {
	color: #ccc;
	opacity: 0;
	transition: all 0.4s ease;
	position: absolute;
	left: 50%;
	top: 50%;
}

.jumbotron-page .nav .icon {
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 100%;
	transition: all 0.4s ease;
	opacity: 0.5;
	position: absolute;
	left: 50%;
	top: 50%;
	border: 1px solid #ccc;
	cursor: pointer;
}

.jumbotron-page .nav .icon i {
	font-size: 42px;
}

.jumbotron-page .nav a:hover .icon {
	opacity: 1;
}

.jumbotron-page .nav a:hover .caption {
	opacity: 1;
	font-size: 14px;
}

.jumbotron-page .nav .home-link .icon {
	color: #f60;
	border-color: #f60;

	margin-left: -30px;
	margin-top: -170px;
}

.jumbotron-page .nav .home-link .icon:hover {
	color: #fff;
	background-color: #f60;
	border-color: #f60;
}

.jumbotron-page .nav .home-link .caption {
	margin-left: -18px;
	margin-top: -200px;
}

.jumbotron-page .nav .members-link .icon {
	color: #f30;
	border-color: #f30;

	margin-left: 60px;
	margin-top: -105px;
}

.jumbotron-page .nav .members-link .icon:hover {
	color: #fff;
	background-color: #f30;
	border-color: #f30;
}

.jumbotron-page .nav .members-link .caption {
	margin-left: 135px;
	margin-top: -100px;
}

.jumbotron-page .nav .projects-link .icon {
	color: #3cf;
	border-color: #3cf;
	
	margin-left: -120px;
	margin-top: -105px;	
}

.jumbotron-page .nav .projects-link .icon:hover {
	color: #fff;
	background-color: #3cf;
	border-color: #3cf;
}

.jumbotron-page .nav .projects-link .caption {
	margin-left: -195px;
	margin-top: -100px;
}

.jumbotron-page .nav .journals-link .icon {
	color: #6c0;
	border-color: #6c0;
	
	margin-left: -90px;
	margin-top: 5px;
}

.jumbotron-page .nav .journals-link .icon:hover {
	color: #fff;
	background-color: #6c0;
	border-color: #6c0;
}

.jumbotron-page .nav .journals-link .caption {
	margin-left: -175px;
	margin-top: 40px;	
}

.jumbotron-page .nav .events-link .icon {
	color: #fc0;
	border-color: #fc0;

	margin-left: 25px;
	margin-top: 5px;
}

.jumbotron-page .nav .events-link .icon:hover {
	color: #fff;
	background-color: #fc0;
	border-color: #fc0;
}

.jumbotron-page .nav .events-link .caption {
	margin-left: 100px;
	margin-top: 40px;	
}