.users-page {
	transform-style: preserve-3d;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smooth: always;
	text-align: center;
}

.users-page input[type="text"] {
	border: 0;
	padding: 12px;
	margin-left: -10px;
	color: #666;
	font-family: "Open Sans", sans-serif;
	text-align: left;
	border: 1px solid #eee;
	width: 150px;
}

.users-page .container {
	padding: 50px;
}

.users-page .background-white {
	background-color: #fff;
}

.users-page .background-gray {

	/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(down,#f9f9f9, #fff);
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(down,#f9f9f9, #fff);
	/* For Fx 3.6 to 15 */
	background: -moz-linear-gradient(down,#f9f9f9, #fff);
	/* Standard syntax */
	background: linear-gradient(#f9f9f9, #fff);
}

.users-page .users {
	width: 900px;
	margin: auto;
	border: 1px solid #eee;
}

.users-page .users .levels-level {
	padding-top: 25px;
	padding-bottom: 25px;
}

.users-page.table {
	display: table;
	width: 100%;
}

.users-page .row {
	display: table-row;
}

.users-page .col {
	display: table-cell;
	vertical-align: top;
}

.users-page i.pe-7s-angle-up {
	color: #999;
	font-size: 30px;
	border: 1px solid #999;
	width: 30px;
	border-radius: 100%;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
	transition: all 0.4s ease;
}

.users-page i.pe-7s-angle-up:hover {
	color: #f30;
	border-color: #f30;
}

.users-page h1 {
	font-weight: 300;
	font-size: 64px;
	margin: 0;
}

.users-page .levels {
	width: 25%;
}

.users-page p.showFilters {
	margin: 0;
}

.users-page .filters {
	padding: 25px;
	width: 850px;
	margin: auto;
	background-color: #fff;
}

.users-page .filters label {
	cursor: pointer;
}

.users-page .filters.table .row .col {
	vertical-align: top;
	text-align: left;
	padding: 25px;
}

.users-page .filters h2 {
	font-weight: 300;
	font-size: 32px;
	margin: 0;
	margin-bottom: 25px;
	color: #f30;
}

.users-page .filters p {
	margin: 5px auto;
}

.users-page p.show-filters a {
	color: #f30;
	text-decoration: none;
	cursor: pointer;
}