.user-page {
	transform-style: preserve-3d;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smooth: always;
	text-align: center;
	padding: 50px;
}

.user-page .container {
	padding: 50px;
	margin: auto;
	margin-top: 25px;
	width: 800px;
	background-color: #fff;
	text-align: center;
}

.user-page i.pe-7s-angle-up {
	color: #999;
	font-size: 30px;
	border: 1px solid #999;
	width: 30px;
	border-radius: 100%;
	padding: 10px;
	margin: 0 auto;
	cursor: pointer;
	transition: all 0.4s ease;
}

.user-page i.pe-7s-angle-up:hover {
	color: #f30;
	border-color: #f30;
}

.user-page.table {
	display: table;
	width: 100%;
}

.user-page .row {
	display: table-row;
}

.user-page .col {
	display: table-cell;
	vertical-align: top;
	transition: all 0.4s ease;
}

.user-page img.avatar {
	border-radius: 100%;
	width: 100px;
	height: 100px;
	border: 4px solid #eee;
	transition: all 0.4s ease;

	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.user-page img.avatar:hover {
	filter: none; /* IE6-9 */
	-webkit-filter: none; /* Google Chrome, Safari 6+ & Opera 15+ */
}

.user-page nav {
	padding-top: 50px;
	margin: auto;
	margin-top: 50px;
	border-top: 1px solid #eee;
}

.user-page nav .navitem {
	display: inline-block;
	width: 125px;
	color: #aaa;
	transition: all 0.4s ease;
	cursor: pointer;
	text-align: center;
}

.user-page nav .navitem.selected {
	color: #333;
}

.user-page nav .navitem:hover {
	color: #000;
}

.user-page nav .navitem i.nav {
	color: #ddd;
	font-size: 30px;
	border: 1px solid #ddd;
	width: 30px;
	border-radius: 100%;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	transition: all 0.4s ease;
}

.user-page nav .navitem:hover i.nav {
	color: #f30;
	border-color: #f30;
}

.user-page nav .navitem.selected i.nav {
	color: #f30;
	border-color: #f30;
}

.user-page hgroup {
	padding-top: 10px;
}

.user-page .filters {
	text-align: left;
	width: 700px;
	margin: auto;
}

.user-page .filters .col {
	padding: 25px;
}

.user-page h1 {
	color: #333;
	font-weight: 600;
	font-size: 36px;
	margin: 0;
}

.user-page h2 {
	font-weight: 300;
	font-size: 32px;
	margin: 0;
	margin-bottom: 25px;
	margin-top: 25px;
	color: #f30;
}

.user-page input.edit-h1 {
	color: #333;
	font-weight: 600;
	font-size: 36px;
	margin: 0;
	text-align: center;
	padding: 10px;
	border: 1px solid #eee;
}

.user-page input.edit-p {
	color: #333;
	font-weight: 600;
	margin: 0;
	text-align: center;
	padding: 10px;
	border: 1px solid #eee;
}

.user-page p.level {
	margin: 0;
	margin-bottom: 5px;
	font-size: 24px;
}

.user-page p.department {
	margin: 0;
	font-size: 20px;
}

.user-page p.access {
	margin: 0;
	margin-top: 25px;
}

.user-page a {
	color: #666;
	text-decoration: none;
}

.user-page p.access a {
	color: #f30;
	text-decoration: none;
}

.user-page p.update a {
	color: #f30;
	cursor: pointer;
	padding: 5px;
	border: 1px solid #f30;
	transition: all 0.4s ease;
}

.user-page p.update input {
	text-align: left;
}